Host colenda-dev.library.upenn.int
    Hostname colenda-dev.library.upenn.int
    IdentityFile ~/.ssh/bulwark_rsa
    IdentitiesOnly yes
Host colenda-front.library.upenn.int
    Hostname colenda-front.library.upenn.int
    IdentityFile ~/.ssh/bulwark_rsa
    IdentitiesOnly yes
