SPECIAL_REMOTE_NAME=x
AWS_ACCESS_KEY_ID=x
AWS_SECRET_ACCESS_KEY=x
STORAGE_TYPE=x
STORAGE_ENCRYPTION=x
REQUEST_STYLE=x
STORAGE_HOST=x
STORAGE_READ_HOST=x
STORAGE_READ_PROTOCOL=x
STORAGE_PORT=x
EMBED_CREDS=x
STORAGE_PUBLIC=x
STORAGE_PROTOCOL=x